{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<main class="flex flex-col md:flex-row min-h-screen">
    <!-- Left Side Content -->
    <div class="w-full md:w-1/2 flex items-center justify-center bg-gray-100 p-4 md:p-0">
        <ul class="list-disc pl-5 space-y-4 text-lg text-gray-800">
            <li>Veja os eventos da nossa região</li>
            <li>Cadastre eventos</li>
            <li>Faça reviews</li>
            <li>Veja o que estão comentando</li>
            <li>E mais</li>
        </ul>
    </div>

    <!-- Right Side Content with Background Image -->
    <div class="w-full md:w-1/2 flex justify-center items-center bg-cover bg-center"
         style="background-image: url('{% static "eventos_cariri/images/back_login.png" %}');">
        <div class="bg-white bg-opacity-80 p-8 rounded-lg shadow-lg w-full max-w-md">
            <!-- Adicionar mensagens de erro do formulário -->
            {% if login_form.non_field_errors %}
            <div class="mb-4 p-4 rounded-lg bg-red-100 border border-red-400 text-red-700">
                {% for error in login_form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if messages %}
            <div id="message-container" class="fixed top-20 right-30 p-1 rounded-lg shadow-lg">
                {% for message in messages %}
                <div class="alert-success">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <!-- Form fields for username and password -->
                <div class="mb-4">
                    {{ login_form.username.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700 {% if login_form.username.errors %}border border-red-500{% endif %}"
                           placeholder="Digite seu email"
                           type="email"
                           name="{{ login_form.username.name }}"
                           id="{{ login_form.username.id_for_label }}"
                           value="{{ login_form.username.value|default_if_none:'' }}">
                </div>

                <div class="mb-4 relative">
                    {{ login_form.password.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700 {% if login_form.password.errors %}border border-red-500{% endif %}"
                           placeholder="Digite sua senha"
                           type="password"
                           name="{{ login_form.password.name }}"
                           id="{{ login_form.password.id_for_label }}"
                           value="{{ login_form.password.value|default_if_none:'' }}">
                    <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                            onclick="togglePasswordVisibility()">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <button class="w-full p-3 rounded bg-gray-800 text-white" type="submit">Entrar</button>
            </form>

            <div class="flex justify-between mt-4 text-sm text-gray-600">
                <a class="hover:underline" href="{% url 'register' %}">Cadastre-se</a>
                <a class="hover:underline" href="#">Esqueceu a sua senha?</a>
            </div>
        </div>
    </div>
</main>

<!-- Ícone flutuante de captcha -->
<div id="captcha-icon" class="fixed bottom-10 right-10 bg-gray-100 p-4 rounded-full shadow-lg cursor-pointer">
  <img src="{% static 'eventos_cariri/images/recaptcha-icon.png' %}" alt="reCAPTCHA Icon" class="w-10 h-10">
</div>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById('{{ login_form.password.id_for_label }}');
        var eyeIcon = document.querySelector('.fa-eye');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            setTimeout(() => {
                messageContainer.style.display = 'none';
            }, 3000); // Esconde a mensagem após 3 segundos
        }

        const captchaIcon = document.getElementById('captcha-icon');
        captchaIcon.addEventListener('click', function () {
            alert('Este é um ícone de captcha para fins didáticos.');
        });
    });
</script>
{% endblock content %}
