{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<main class="flex flex-col md:flex-row min-h-screen">
    <!-- Left Side Content -->
    <div class="w-full md:w-1/2 flex items-center justify-center bg-gray-100 p-4 md:p-0">
        <ul class="list-disc pl-5 space-y-4 text-lg text-gray-800">
            <li>Veja os eventos da nossa região</li>
            <li>Cadastre eventos</li>
            <li>Faça reviews</li>
            <li>Veja o que estão comentando</li>
            <li>E mais</li>
        </ul>
    </div>
    <!-- Right Side Content with Background Image -->
    <div class="w-full md:w-1/2 flex justify-center items-center bg-cover bg-center" style="background-image:url('{% static "eventos_cariri/images/back_login.png" %}');">
        <div class="bg-white bg-opacity-80 p-8 rounded-lg shadow-lg w-full max-w-md">
            <form method="post">
                {% csrf_token %}
                
                {% if user_form.non_field_errors %}
                    <div class="alert-error">{{ user_form.non_field_errors }}</div>
                {% endif %}
                
                <div class="mb-4">
                    {{ user_form.username.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Nome de usuário" type="text" name="{{ user_form.username.name }}" id="{{ user_form.username.id_for_label }}" value="{{ user_form.username.value|default_if_none:'' }}" />
                </div>
                
                <div class="mb-4">
                    {{ user_form.name.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Nome completo" type="text" name="{{ user_form.name.name }}" id="{{ user_form.name.id_for_label }}" value="{{ user_form.name.value|default_if_none:'' }}" />
                </div>
                
                <div class="mb-4">
                    {{ user_form.email.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Email" type="email" name="{{ user_form.email.name }}" id="{{ user_form.email.id_for_label }}" value="{{ user_form.email.value|default_if_none:'' }}" />
                </div>
                
                <div class="mb-4">
                    {{ user_form.phone.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Telefone" type="text" name="{{ user_form.phone.name }}" id="phone-field" value="{{ user_form.phone.value|default_if_none:'' }}" />
                </div>
                
                <div class="mb-4">
                    {{ user_form.city.errors }}
                    {{ user_form.city }}
                </div>
                
                <div class="mb-4">
                    {{ user_form.password1.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Senha" type="password" name="{{ user_form.password1.name }}" id="{{ user_form.password1.id_for_label }}" value="{{ user_form.password1.value|default_if_none:'' }}" />
                </div>
                
                <div class="mb-4">
                    {{ user_form.password2.errors }}
                    <input class="w-full p-3 rounded bg-gray-200 text-gray-700" placeholder="Confirme a senha" type="password" name="{{ user_form.password2.name }}" id="{{ user_form.password2.id_for_label }}" value="{{ user_form.password2.value|default_if_none:'' }}" />
                </div>
                
                <button class="w-full p-3 rounded bg-gray-800 text-white" type="submit">cadastrar-se</button>
            </form>
            <div class="flex justify-between mt-4 text-sm text-gray-600">
                <a class="hover:underline" href="{% url 'login' %}">Já tem uma conta? Faça login</a>
            </div>
        </div>
        <div id="captcha-icon" class="fixed bottom-10 right-10 bg-gray-100 p-4 rounded-full shadow-lg cursor-pointer">
            <img src="{% static 'eventos_cariri/images/recaptcha-icon.png' %}" alt="reCAPTCHA Icon" class="w-10 h-10">
          </div>
    </div>
</main>

<script>
  function mascaraTelefone(input) {
      // Remove tudo que não for número
      var telefone = input.value.replace(/\D/g, '');
      
      // Limita o tamanho para no máximo 11 caracteres (88 + 9 dígitos do número)
      if (telefone.length > 11) {
          telefone = telefone.substring(0, 11);
      }
  
      // Aplica a máscara (88) 9.9999-9999
      if (telefone.length > 2) {
          telefone = '(' + telefone.substring(0, 2) + ') ' + telefone.substring(2);
      }
      if (telefone.length > 3) {
          telefone = telefone.substring(0, 6) + '.' + telefone.substring(6);
      }
      if (telefone.length > 9) {
          telefone = telefone.substring(0, 11) + '-' + telefone.substring(11);
      }
  
      // Atualiza o valor do campo de input
      input.value = telefone;
  }
  
  document.addEventListener('DOMContentLoaded', function() {
      var phoneInput = document.getElementById('phone-field');
      phoneInput.addEventListener('input', function() {
          mascaraTelefone(phoneInput);
      });
  });
  </script>
  
  
{% endblock content %}