.border-red-500 {
    border-color: #f56565;
}

.alert-error {
    background-color: #f56565;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 50; /* Certifique-se de que o z-index seja alto o suficiente para sobrepor o conteúdo da main */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px; /* Limite a altura máxima */
  overflow-y: auto; /* Adicione rolagem se necessário */
}
.search-result-item {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.search-result-item:last-child {
  border-bottom: none;
}
.search-result-item:hover {
  background-color: #f1f1f1;
}

.event-image {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  #menu, #search {
      display: none;
      flex-direction: column; /* Exibir itens em modo cascata */
      align-items: center; /* Alinhar itens ao centro */
      width: 100%; /* Ocupa toda a largura */
  }
  #menu.show, #search.show {
      display: flex; /* Exibir quando a classe 'show' for adicionada */
  }
  #search {
      order: -1; /* Coloca a barra de pesquisa no topo */
  }
  #menu a {
      width: 100%; /* Ocupa toda a largura */
      text-align: center; /* Centraliza o texto */
      padding: 10px 0; /* Espaçamento interno */
  }
}

.alert-success {
    background-color: #029b0f; /* Cor de fundo para a mensagem de sucesso */
    color: #d3d4d3; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.alert-error {
    background-color: #f56565; /* Cor de fundo para a mensagem de erro */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.event-card {
  transition: transform 0.3s ease-in-out;
}

.event-card:hover .event-image {
  transform: scale(1.05);
}

.event-image:hover {
  transform: scale(1.05);
}.border-red-500 {
    border-color: #f56565;
}

.alert-error {
    background-color: #f56565;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.event-image {
  transition: transform 0.3s ease-in-out;
}

.event-image:hover {
  transform: scale(1.05);
}

#message-container {
    background: none; /* Sem plano de fundo */
    max-width: 300px; /* Ajuste o tamanho máximo conforme necessário */
}

.alert-success {
    background-color: #029b0f; /* Cor de fundo para a mensagem de sucesso */
    color: #d3d4d3; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

.hidden {
    display: none;
}


#message-container {
    background: none; /* Sem plano de fundo */
    max-width: 300px; /* Ajuste o tamanho máximo conforme necessário */
  }
  
  .alert-success {
    background-color: #029b0f; /* Cor de fundo para a mensagem de sucesso */
    color: #d3d4d3; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
  }

  .hidden {
    display: none;
}