<!-- comment_confirm_delete.html -->
{% extends 'base.html' %}
{% block content %}
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
  {% if messages %}
  <div>
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
    <div class="bg-white w-full max-w-lg mx-auto p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold text-center mb-6">Deletar Comentário</h2>
        <p class="text-center mb-6">Tem certeza que quer deletar esse comentário?</p>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="flex justify-end space-x-4">
                <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded-lg">Sim, deletar</button>
                <button type="button" class="bg-gray-600 text-white px-4 py-2 rounded-lg" onclick="window.history.back();">Não, voltar</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}