{% extends 'base.html' %} 
{% load static %}

{% block content %}
{% if messages %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        {% for message in messages %}
        <p class="mb-1">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

<body class="bg-gray-100 font-sans">
  <div class="flex">
    <!-- Sidebar -->
    <div class="w-1/4 bg-white p-6 shadow-md">
      <h2 class="text-2xl font-bold mb-6">Filters</h2>
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Category</h3>
        <div class="flex flex-col space-y-2">
          <label class="inline-flex items-center">
            <input class="form-checkbox text-blue-600" type="checkbox" />
            <span class="ml-2"> Cultural </span>
          </label>
          <label class="inline-flex items-center">
            <input class="form-checkbox text-blue-600" type="checkbox" />
            <span class="ml-2"> Sports </span>
          </label>
          <label class="inline-flex items-center">
            <input class="form-checkbox text-blue-600" type="checkbox" />
            <span class="ml-2"> Educational </span>
          </label>
          <label class="inline-flex items-center">
            <input class="form-checkbox text-blue-600" type="checkbox" />
            <span class="ml-2"> Leisure </span>
          </label>
        </div>
      </div>
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Date Range</h3>
        <div class="bg-gray-100 p-4 rounded-lg">
          <div class="flex justify-between items-center mb-2">
            <button class="text-gray-500">
              <i class="fas fa-chevron-left"> </i>
            </button>
            <span> September 2024 </span>
            <button class="text-gray-500">
              <i class="fas fa-chevron-right"> </i>
            </button>
          </div>
          <div class="grid grid-cols-7 gap-1 text-center text-sm">
            <div>Su</div>
            <div>Mo</div>
            <div>Tu</div>
            <div>We</div>
            <div>Th</div>
            <div>Fr</div>
            <div>Sa</div>
            <div class="text-gray-400">1</div>
            <div class="text-gray-400">2</div>
            <div class="text-gray-400">3</div>
            <div class="text-gray-400">4</div>
            <div class="text-gray-400">5</div>
            <div class="text-gray-400">6</div>
            <div class="text-gray-400">7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
            <div>19</div>
            <div>20</div>
            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div>26</div>
            <div>27</div>
            <div>28</div>
            <div>29</div>
            <div>30</div>
            <div class="text-gray-400">1</div>
            <div class="text-gray-400">2</div>
            <div class="text-gray-400">3</div>
            <div class="text-gray-400">4</div>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Location</h3>
        <select class="w-full p-2 border border-gray-300 rounded-lg">
          <option>Select a location</option>
        </select>
      </div>
      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Price Range</h3>
        <div class="flex items-center justify-between mb-2">
          <span> R$0 </span>
          <span> R$1000 </span>
        </div>
        <input class="w-full" type="range" />
      </div>
      <button class="w-full bg-blue-600 text-white py-2 rounded-lg">
        Apply Filters
      </button>
    </div>
    
    <!-- Main Content -->
        <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for event in events %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                {% if event.image.exists %}
                <img src="{{ event.image.first.image.url }}" alt="{{ event.title }}" class="w-full h-48 object-cover">
                {% else %}
                <img src="{% static 'eventos_cariri/images/no_photo.png' %}" alt="No Image" class="w-full h-48 object-cover">
                {% endif %}
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2">{{ event.title }}</h3>
                    <p class="text-gray-600 mb-2">
                      {{ event.date|date:"d \d\e F" }}

                    </p>
                    {% if event.ticket_type == 'gratuito' %}
                    <i class="fas fa-money-bill-wave text-green-500"> {{ event.ticket_type }} </i>
                    {% else %}
                    <i class="fas fa-money-bill-wave text-blue-500"> {{ event.ticket_type }} | R$ {{ event.price}} </i>
                    {% endif %}
                    <p class="text-gray-600 mb-2">{{ event.location.city }}, {{ event.location.state }}</p>
                    <p class="text-gray-700 mb-4">{{ event.description|truncatewords:20 }}</p>
                    <a href="{% url 'event_detail' event.pk %}" class="bg-blue-600 text-white py-2 px-4 rounded-lg">Saiba Mais</a>
                    {% if user.is_superuser or user == event.creator %}
                    <a href="{% url 'event_delete' event.pk %}" class="bg-red-600 text-white py-2 px-6 rounded-lg" onclick="return confirmAction('deletar')">Excluir</a>
                    {% endif %}
                    {% if user == event.creator %}
                    <a href="{% url 'event_update' event.pk %}" class="bg-blue-950 text-white px-4 py-2 rounded-lg"> Editar </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="flex justify-center mt-6">
            <button class="bg-blue-600 text-white py-2 px-6 rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                Load More Events
            </button>
        </div>
        <div class="flex justify-center mt-6">
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</body>
<script>
  function confirmAction(action) {
    let message = '';
    if (action === 'deletar') {
        message = 'Tem certeza que quer deletar esse evento?';
    }
    return confirm(message);
}
</script>

{% endblock %}
