{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        {% endblock title %}  
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <style>
    body {
        font-family: 'Roboto', sans-serif;
    }
    </style>
    <link href="{% static 'eventos_cariri/css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    
    <!-- Header -->
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="flex items-center">
                <img alt="Eventos Cariri Logo" class="h-10 w-10" height="40" src="{% static 'eventos_cariri/images/logomarca.png' %}"/>
                <span class="ml-2 text-xl font-bold">Eventos Cariri</span>
            </div>
            <nav class="flex space-x-4">
                <a class="text-gray-700 hover:text-black" href="{% url 'home' %}">Home</a>
                <a class="text-gray-700 hover:text-black" href="#">Eventos</a>
                <a class="text-gray-700 hover:text-black" href="#">Categorias</a>
                <a class="text-gray-700 hover:text-black" href="#">Criar Eventos</a>
                <a class="text-gray-700 hover:text-black" href="#">Sobre</a>
            </nav>
            <div class="flex space-x-4">
                <i class="fas fa-search text-gray-700 rounded-full px-2 py-2 hover:text-black"></i>
                {% if user.is_authenticated %}
                    <a class="text-red-700 hover:text-gray-400" href="#">Sair</a>
                {% else %}
                    <a class="text-gray-700 rounded-full px-2 py-1" href="{% url 'login' %}">Login</a>
                    <a class="text-gray-700 hover:text-black border border-gray-700 rounded-full px-2 py-1 hover:bg-gray-200" href="#">Cadastre-se</a>
                {% endif %}
            </div>
        </div>

    </header>
    <main>
    
        {% block content %}
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="bg-gray-900 text-white py-8">
        <div class="container mx-auto px-4 flex justify-between">
            <div>
                <h5 class="font-bold mb-2">Quick Links</h5>
                <ul class="space-y-2">
                    <li><a class="hover:underline" href="#">Sobre</a></li>
                    <li><a class="hover:underline" href="#">Contato</a></li>
                    <li><a class="hover:underline" href="#">Política de Privacidade</a></li>
                    <li><a class="hover:underline" href="#">Termos do Serviço</a></li>
                </ul>
            </div>
            <div>
                <h5 class="font-bold mb-2">Siga-nos</h5>
                <div class="flex space-x-4">
                    <a class="hover:text-gray-400" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="hover:text-gray-400" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="hover:text-gray-400" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="hover:text-gray-400" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div>
                <h5 class="font-bold mb-2">Se inscreva em nossa Newsletter</h5>
                <form class="flex">
                    <input class="p-2 rounded-l bg-gray-200 text-gray-700" placeholder="coloque o seu e-mail" type="email"/>
                    <button class="p-2 rounded-r bg-blue-600 text-white" type="submit">Inscrever-se</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-8 text-gray-500">
            <p>2024 - Eventos Cariri</p>
        </div>
    </footer>
</body>
</html>
